
<!-- Offcanvas Navigation -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="menu">
<div class="offcanvas-header">
<h5 class="offcanvas-title">Menu</h5>
<button class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>
<div class="offcanvas-body">
<ul class="list-unstyled">
<li class="mb-3"><i class="bi bi-house"></i><a href="/"> Home</a></li>
<li class="mb-3"><i class="bi bi-check2-square"></i><a href="#"  data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Tasks</a></li>
<li class="mb-3"><i class="bi bi-check2-square"></i> <a href="/managetask">Manage Tasks</a></li>
<li class="mb-3"><i class="bi bi-gear"></i> Settings</li>
</ul>
</div>
</div>

</body>
</html>