<section class="hii"> 
      <article class="art">
        This website is only for music,   <br>    you can listen it with your family and friends. 
      </article>
      <article class="art1">
         <button class="btn1"><a href="extra.html" class="anchor">click here for more</a></button>
      </article>
      <article>
        <img src="images/photo.jpg" alt="music image" class="img">
       
      </article>
       
    </section>