<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title %></title>
<!-- Bootstrap 5 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- custom css  -->
<link href="css/style.css" rel="stylesheet">

</head>
<body>

<div class="app-screen">

<!-- Illustration -->
<div class="illustration">
<img src="images/banner.png" alt="banner" />
</div>

<!-- Text Content -->
<div class="text-center text-dark">
<div class="title">Complete your daily tasks!</div>
<div class="subtitle">
Accomplish your daily tasks and we help you keep track of your growth
</div>
</div>

<!-- Bottom Navigation -->
<div class="bottom-nav mt-4">
<button class="btn btn-link text-dark text-decoration-none">
← Back
</button>

<a href="/dashboard"><button class="btn btn-dark btn-circle">
→
</button></a>
</div>

</div>

</body>
</html>