<!-- load head -->
<%- include('partials/head.ejs') %>
<!--load navigation  -->
<%- include('partials/navigation.ejs') %>
<!-- Google Charts -->
<div class="app-wrapper">
<!-- Header -->
<button class="btn p-0 mb-4" data-bs-toggle="offcanvas" data-bs-target="#menu">
<i class="bi bi-list fs-3"></i>
</button>

<h5 class="fw-bold text-center">
Decent job today 😁
</h5>

<!-- Chart -->
<div class="chart-wrapper my-4">
<div id="donutChart"></div>
</div>

<!-- Completion Text -->
<h6 class="fw-bold text-center">
75% Tasks<br>Completed Today
</h6>

<!-- Task List -->
<div class="mt-4">
<div class="task-item task-done">
<div class="task-dot"></div>Buy Groceries
</div>
<div class="task-item task-done">
<div class="task-dot"></div>Evening Walk
</div>
<div class="task-item task-done">
<div class="task-dot"></div>Client Work
</div>
<div class="task-item">
<div class="task-dot"></div>Social Media Posting
</div>
</div>
</div>


<!-- Add Task Modal -->
<%- include('addtask') %>